In [34]:
import pandas as pd

In [35]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')
data.head(5)

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [36]:
data.shape

(19735, 29)

In [37]:
data.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [39]:
data.corr()

             Appliances    lights        T1  ...  Tdewpoint       rv1       rv2
Appliances     1.000000  0.197278  0.055447  ...   0.015353 -0.011145 -0.011145
lights         0.197278  1.000000 -0.023528  ...  -0.036322  0.000521  0.000521
T1             0.055447 -0.023528  1.000000  ...   0.571309 -0.006203 -0.006203
RH_1           0.086031  0.106968  0.164006  ...   0.639106 -0.000699 -0.000699
T2             0.120073 -0.005622  0.836834  ...   0.582602 -0.011087 -0.011087
RH_2          -0.060465  0.050985 -0.002509  ...   0.499152  0.006275  0.006275
T3             0.085060 -0.097393  0.892402  ...   0.645886 -0.005194 -0.005194
RH_3           0.036292  0.131161 -0.028550  ...   0.414387 -0.000477 -0.000477
T4             0.040281 -0.008859  0.877001  ...   0.519471 -0.001815 -0.001815
RH_4           0.016965  0.114936  0.097861  ...   0.616509 -0.001787 -0.001787
T5             0.019760 -0.078745  0.885247  ...   0.588362 -0.005490 -0.005490
RH_5           0.006955  0.141233 -0.014782  ...   0.078175 -0.011056 -0.011056
T6             0.117638 -0.079029  0.654769  ...   0.764242 -0.015086 -0.015086
RH_6          -0.083178  0.153756 -0.615045  ...  -0.260417  0.011671  0.011671
T7             0.025801 -0.135347  0.838705  ...   0.466625 -0.003900 -0.003900
RH_7          -0.055642  0.035069  0.135182  ...   0.641857  0.001820  0.001820
T8             0.039572 -0.071458  0.825413  ...   0.391810 -0.003210 -0.003210
RH_8          -0.094039  0.012915 -0.006441  ...   0.501775  0.004480  0.004480
T9             0.010010 -0.157592  0.844777  ...   0.581483 -0.001227 -0.001227
RH_9          -0.051462 -0.008766  0.071756  ...   0.540328 -0.002955 -0.002955
T_out          0.099155 -0.074424  0.682846  ...   0.790661 -0.015216 -0.015216
Press_mm_hg   -0.034885 -0.010576 -0.150574  ...  -0.244098  0.000699  0.000699
RH_out        -0.152282  0.068543 -0.345481  ...   0.036506  0.020441  0.020441
Windspeed      0.087122  0.060281 -0.087654  ...   0.125972 -0.011342 -0.011342
Visibility     0.000230  0.020038 -0.076210  ...  -0.042190 -0.005889 -0.005889
Tdewpoint      0.015353 -0.036322  0.571309  ...   1.000000 -0.003943 -0.003943
rv1           -0.011145  0.000521 -0.006203  ...  -0.003943  1.000000  1.000000
rv2           -0.011145  0.000521 -0.006203  ...  -0.003943  1.000000  1.000000

[28 rows x 28 columns]

Renaming Columns

In [40]:
"""
column_names = {
    'date':'Date',
    'Appliances':'Appliances',
    'lights':'Lights',
    'T1':'Temperature in kitchen area',
    'RH_1':'Humidity in kitchen area',
    'T2':'Temperature in living room area',
    'RH_2':'Humidity in living room area',
    'T3':'Temperature in laundry room area',
    'RH_3':'Humidity in laundry room area',
    'T4':'Temperature in office room',
    'RH_4':'Humidity in office room',
    'T5':'Temperature in bathroom',
    'RH_5':'Humidity in bathroom',
    'T6':'Temperature outside the building',
    'RH_6':'Humidity outside the building',
    'T7':'Temperature in ironing room',
    'RH_7':'Humidity in ironing room',
    'T8':'Temperature in teenager room 2',
    'RH_8':'Humidity in teenager room 2',
    'T9':'Temperature in parents room',
    'RH_9':'Humidity in parents room',
    'T_out':'Temperature out',
    'Press_mm_hg':'Pressure',
    'RH_out':'RH_out',
    'Windspeed':'Wind Speed',
    'Visibility':'Visibility',
    'Tdewpoint':'Tdewpoint',
    'rv1':'Random Variable 1',
    'rv2':'Random Variable 2'
}
"""

"\ncolumn_names = {\n    'date':'Date',\n    'Appliances':'Appliances',\n    'lights':'Lights',\n    'T1':'Temperature in kitchen area',\n    'RH_1':'Humidity in kitchen area',\n    'T2':'Temperature in living room area',\n    'RH_2':'Humidity in living room area',\n    'T3':'Temperature in laundry room area',\n    'RH_3':'Humidity in laundry room area',\n    'T4':'Temperature in office room',\n    'RH_4':'Humidity in office room',\n    'T5':'Temperature in bathroom',\n    'RH_5':'Humidity in bathroom',\n    'T6':'Temperature outside the building',\n    'RH_6':'Humidity outside the building',\n    'T7':'Temperature in ironing room',\n    'RH_7':'Humidity in ironing room',\n    'T8':'Temperature in teenager room 2',\n    'RH_8':'Humidity in teenager room 2',\n    'T9':'Temperature in parents room',\n    'RH_9':'Humidity in parents room',\n    'T_out':'Temperature out',\n    'Press_mm_hg':'Pressure',\n    'RH_out':'RH_out',\n    'Windspeed':'Wind Speed',\n    'Visibility':'Visibility',\n    'Tdewpoint':'Tdewpoint',\n    'rv1':'Random Variable 1',\n    'rv2':'Random Variable 2'\n}\n"

In [41]:
#data = data.rename(columns=column_names)

Q12. From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [42]:
X_data = data[['T2']]
Y_data = data['T6']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_data, Y_data, test_size=0.3, random_state=1)

from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

#r2_score
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

0.646

Q13-Q20.

In [43]:
data_new = data.drop(['date','lights'], axis = 1)
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Appliances   19735 non-null  int64
 1   T1           19735 non-null  float64
 2   RH_1         19735 non-null  float64
 3   T2           19735 non-null  float64
 4   RH_2         19735 non-null  float64
 5   T3           19735 non-null  float64
 6   RH_3         19735 non-null  float64
 7   T4           19735 non-null  float64
 8   RH_4         19735 non-null  float64
 9   T5           19735 non-null  float64
 10  RH_5         19735 non-null  float64
 11  T6           19735 non-null  float64
 12  RH_6         19735 non-null  float64
 13  T7           19735 non-null  float64
 14  RH_7         19735 non-null  float64
 15  T8           19735 non-null  float64
 16  RH_8         19735 non-null  float64
 17  T9           19735 non-null  float64
 18  RH_9         19735 non-null  float64
 19  T_out        19735 non-null  float64
 20  Press_mm_hg  19735 non-null  float64
 21  RH_out       19735 non-null  float64
 22  Windspeed    19735 non-null  float64
 23  Visibility   19735 non-null  float64
 24  Tdewpoint    19735 non-null  float64
 25  rv1          19735 non-null  float64
 26  rv2          19735 non-null  float64
dtypes: float64(26), int64(1)
memory usage: 4.1 MB

In [44]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(data_new), columns=data_new.columns)
X_data = normalised_data.drop(columns=['Appliances'])
Y_data = normalised_data['Appliances']

Model generation

In [45]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_data, Y_data,
test_size=0.3, random_state=42)

from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

In [46]:
#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

In [47]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

Residual Sum of Squares (RSS)

In [48]:
import numpy as np

In [49]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

Root Mean Square Error (RMSE)

In [50]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

R-Squared

In [51]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

Ridge Regression

In [55]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

p1 = ridge_reg.predict(x_test)

from sklearn.metrics import mean_squared_error
rmse1 = np.sqrt(mean_squared_error(y_test, p1))
round(rmse1, 3)

0.088

Feature Selection and Lasso Regression

In [56]:
from sys import ps2
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.0001)
lasso_reg.fit(x_train, y_train)

p2 = lasso_reg.predict(x_test)

from sklearn.metrics import mean_squared_error
rmse2 = np.sqrt(mean_squared_error(y_test, p2))
round(rmse2, 3)

0.088

In [57]:
#comparing the effects of regularisation
def get_weights_data(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_data = pd.DataFrame(weights).reset_index()
  weights_data.columns = ['Features', col_name]
  weights_data[col_name].round(3)
  return weights_data

In [58]:
linear_model_weights = get_weights_data(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_data = get_weights_data(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_data = get_weights_data(lasso_reg, x_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_data, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_data, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.411071     -0.164344
1         T_out            -0.321860     -0.262172     -0.000000
2            T2            -0.236178     -0.201397     -0.000000
3            T9            -0.189941     -0.188916     -0.164785
4          RH_8            -0.157595     -0.156830     -0.142142
5        RH_out            -0.077671     -0.054724     -0.000000
6          RH_7            -0.044614     -0.045977     -0.048415
7          RH_9            -0.039800     -0.041367     -0.028676
8            T5            -0.015657     -0.019853     -0.025671
9            T1            -0.003281     -0.018406     -0.051318
10          rv1             0.000770      0.000748      0.000000
11          rv2             0.000770      0.000748      0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13           T7             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.007801
15         RH_5             0.016006      0.016152      0.008111
16         RH_4             0.026386      0.024579      0.000000
17           T4             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.026814
19         RH_6             0.038049      0.035519      0.010642
20         RH_3             0.096048      0.095135      0.046184
21           T8             0.101995      0.101028      0.058432
22    Tdewpoint             0.117758      0.083128     -0.000000
23           T6             0.236425      0.217292      0.025567
24           T3             0.290627      0.288087      0.224450
25         RH_1             0.553547      0.519525      0.366220